extends layout

block content
  section#categories
    .container
      .row
        .col-12
          ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item
              a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Home
            li.nav-item
              a#recipes-tab.nav-link(data-toggle='tab', href='#recipes', role='tab', aria-controls='profile', aria-selected='false') Recipes
            li.nav-item
              a#categories-tab.nav-link(data-toggle='tab', href='#categories', role='tab', aria-controls='contact', aria-selected='false') Categories
            li.nav-item
              a#users-tab.nav-link(data-toggle='tab', href='#users', role='tab', aria-controls='contact', aria-selected='false') Users  
          #myTabContent.tab-content
            #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
              br
              .table-responsive
                  table#dataTable.table.table-bordered(width='100%', cellspacing='15')
                      thead
                          tr
                              th Title
                              th Description
                              
                      tbody
                    
                                  tr.odd.gradeX
                                      td
                                      th
            #recipes.tab-pane.fade(role='tabpanel', aria-labelledby='recipes-tab')
              br
              .container
                .row
                  .col-12
                    h2 Recipes
                    a.btn.btn-sm.btn-primary.shadow-sm(href='#addRecipe', data-toggle='modal', data-target='#addRecipe') Add Recipe 
                    br
                .row
                  // First recipe item
                  br
                  each recipe, i in recipes
                    .col-lg-4.col-md-6.col-sm-12.wow.fadeIn
                      .recipe-item.text-center
                        a(href='/recipes/'+recipe.id)
                          img(src='/'+recipe.image, alt='bbq-pork-ribs')
                        br
                        h3
                          = recipe.title

            #categories.tab-pane.fade(role='tabpanel', aria-labelledby='categories-tab') ...
            #users.tab-pane.fade(role='tabpanel', aria-labelledby='users-tab') ...
    // /.container-fluid
    // End of Main Content
    #addRecipe.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addUserLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#addRecipeLabel.modal-title Add Recipe
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form(method='POST', action='/recipes/add' enctype="multipart/form-data")
                      
                      #form-group
                          label Title:
                          input.form-control(name='title', type='text')
                      #form-group
                          label Decription:
                          input.form-control(name='description', type='text')
                      #form-group
                          label timetocook:
                          input.form-control(name='image', type='text')
                      #form-group
                          label dfficulty:
                          input.form-control(name='timetocook', type='text')
                      #form-group
                          label servings:
                          input.form-control(name='dfficulty', type='text')
                      #form-group
                          label image:
                          input.form-control(type='file', name='image')    
                      #form-group
                          label ingredients:
                          input.form-control(name='servings', type='text')
                          br
                      input.btn.btn-primary(type='submit', value='Submit')
                      a.btn.btn-danger(href='/recipes') Cancel   
    