extends layout

block content
  section#categories
    .pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
      h1.display-4 Pricing
      p.lead
        | Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
    .container
      .card-deck.mb-3.text-center
        .card.mb-4.shadow-sm
          .card-header
            h4.my-0.font-weight-normal Free
          .card-body
            h1.card-title.pricing-card-title
              | $0 
              small.text-muted / mo
            ul.list-unstyled.mt-3.mb-4
              li 10 users included
              li 2 GB of storage
              li Email support
              li Help center access
            button.btn.btn-lg.btn-block.btn-outline-primary(type='button') Sign up for free
        .card.mb-4.shadow-sm
          .card-header
            h4.my-0.font-weight-normal Pro
          .card-body
            h1.card-title.pricing-card-title
              | $15 
              small.text-muted / mo
            ul.list-unstyled.mt-3.mb-4
              li 20 users included
              li 10 GB of storage
              li Priority email support
              li Help center access
            button.btn.btn-lg.btn-block.btn-primary(type='button') Get started
        .card.mb-4.shadow-sm
          .card-header
            h4.my-0.font-weight-normal Enterprise
          .card-body
            h1.card-title.pricing-card-title
              | $29 
              small.text-muted / mo
            ul.list-unstyled.mt-3.mb-4
              li 30 users included
              li 15 GB of storage
              li Phone and email support
              li Help center access
            button.btn.btn-lg.btn-block.btn-primary(type='button') Contact us


         
    // /.container-fluid
    // End of Main Content
    #addRecipe.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addUserLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#addRecipeLabel.modal-title Add Recipe
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form(method='POST', action='/recipes/add' enctype="multipart/form-data")
                      
                      #form-group
                          label Title:
                          input.form-control(name='title', type='text')
                      #form-group
                          label Decription:
                          input.form-control(name='description', type='text')
                      #form-group
                          label timetocook:
                          input.form-control(name='image', type='text')
                      #form-group
                          label dfficulty:
                          input.form-control(name='timetocook js-time-picker', type='text')
                      #form-group
                          label servings:
                          input.form-control(name='dfficulty', type='text')
                      #form-group
                          label image:
                          input.form-control(type='file', name='image')    
                      #form-group
                          label ingredients:
                          input.form-control(name='servings', type='text')
                          br
                      input.btn.btn-primary(type='submit', value='Submit')
                      a.btn.btn-danger(href='/recipes') Cancel   
    