doctype html
html(lang='en')
  head
    //
      Basic meta info
      ====================
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Recipe Book
    //
      
      CSS files
      ==============
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/css/animate.min.css')
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
    //
      Modernizr file
      ===================
    script(charset='utf-8', type='text/javascript ', src='/js/modernizr.custom.js')
  body
    //
    #splash
    //
      Website Logo
      =================
    


    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/recipes') Recipes
          li.nav-item
            a.nav-link(href='/users') Users
          li.nav-item
            a.nav-link(href='/users/logout') Logout    
      .navbar-collapse.collapse.w-100.order-3.dual-collapse2
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/users/logout') Logout     
 
    section#logo
      .container.text-right.wow.pulse
        img(src='/images/logo-white.svg', alt='logo')
        br
        h1 Recipe Book
    //
    != messages('message', locals)
    block content
    footer
      .container
        .row
          // About
          .col-md-12.col-sm-12.text-center
            .footer-copyright.text-center.py-3
                | © 2019 Copyright:
                a(href='#')  Recipe Book
    //
      JavaScript files
      =====================
    script(charset='utf-8', src='/js/jquery-3.3.1.min.js')
    script(charset='utf-8', src='/js/bootstrap.min.js')
    script(charset='utf-8', src='/js/wow.min.js')
    script(charset='utf-8', src='/js/scripts.js')
    script(charset='utf-8', src='/js/main.js')
