extends layout

block content
  section#recipe
      .container
        .row
          // Title
          .col-12
            h2
              =recipe.title
        .row.vertical-align
          .col-12
            // Picture
            .col-md-8.pull-left.wow.swing
              img.recipe-picture(src='/'+recipe.image, alt='bbq-pork-ribs')
            // Info
            .col-md-4.pull-right.wow.lightSpeedIn
              .recipe-info
                h3 Info
                // Time
                .row
                  .col-2.text-center
                    i.fa.fa-clock-o(aria-hidden='true')
                  .col-6 Time
                  .col-4 
                    =recipe.timetocook
                // Difficulty
                .row
                  .col-2.text-center
                    i.fa.fa-area-chart(aria-hidden='true')
                  .col-6 Difficulty
                  .col-4
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                // Serves
                .row
                  .col-2.text-center
                    i.fa.fa-users(aria-hidden='true')
                  .col-6 Servings
                  .col-4 
                    =recipe.servings
        // Ingredients
        .row.wow.slideInUp
          .col-12
            .recipe-ingredients
              h3 Ingredients - 
                a(href='#addRecipe', data-toggle='modal', data-target='#addRecipe')|Add
              dl.ingredients-list
                each recipes, i in recipe.ingredients
                  dt 
                    = recipes.amount
                  dd 
                    = recipes.description
                
        // Directions
        .row.wow.slideInUp
          .col-12
            .recipe-directions
              h3 Directions - 
                a(href='#addDirections', data-toggle='modal', data-target='#addDirections')|Add
              ol
                each recipes, i in recipe.directions
                  li 
                    = recipes.description
                
        // Back to recipes
        .row.wow.rollIn
          .col-12.text-center
            a(href='index.html')
              i.fa.fa-backward(aria-hidden='true')
              |             Go to back to recipes.
  #addRecipe.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addUserLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#addRecipeLabel.modal-title Add Recipe
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form(method='POST', action='/recipes/ingredients/add/'+recipe.id)
                      
                      #form-group
                          label Description:
                          input.form-control(name='description', type='text')
                      #form-group
                          label Amount:
                          input.form-control(name='amount', type='text')
                      #form-group
                          label Measurements:
                          input.form-control(name='measurements', type='text')
                          br
                      input.btn.btn-primary(type='submit', value='Submit')
                      a.btn.btn-danger(href='/recipes/ingredients/add/'+recipe._id) Cancel  
  #addDirections.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addDirectionsLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#addDirectionsLabel.modal-title Add Recipe
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/recipes/directions/add/'+recipe.id)
                    
                    #form-group
                        label Description:
                        input.form-control(name='order', type='text')
                    #form-group
                        label Amount:
                        input.form-control(name='description', type='text')
                    
                        br
                    input.btn.btn-primary(type='submit', value='Submit')
                    a.btn.btn-danger(href='/recipes/ingredients/add/'+recipe._id) Cancel                