extends layout

block content
    section#categories
      .container
        .row
          .col-12
            h2 Categories
        .row.wow.zoomIn
          // Breakfast - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/milk.png', alt='milk', width='48', height='48')
              br
              |             Breakfast
          // Meat - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/steak.png', alt='meat', width='48', height='48')
              br
              |             Meat
          // Seafood - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/fish.png', alt='fish', width='48', height='48')
              br
              |             Sea food
          // Snacks- Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/peanuts.png', alt='peanuts', width='48', height='48')
              br
              |             Snacks
          // Spicy - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/chili.png', alt='chili', width='48', height='48')
              br
              |             Spicy
          // Vegetarian - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/vegan.png', alt='vegan', width='48', height='48')
              br
              |             Vegetarian
        .row.wow.zoomIn
          .col-12.text-center.show-all
            .category-item.text-center
              i.fa.fa-cutlery.fa-2x(aria-hidden='true')
              br
              |             Show All
    //
      Recipes Items
      ==================
    section#items
      .container
        .row
          .col-12
            h2 Recipes - 
                a.btn.btn-lg.btn-primary.shadow-sm(href='#addRecipe', data-toggle='modal', data-target='#addRecipe') Add Recipe
        .row
          // First recipe item
          br
          br
          each recipe, i in recipes
            .col-lg-4.col-md-6.col-sm-12.wow.fadeIn
              .recipe-item.text-center
                a(href='/recipes/'+recipe.id)
                  img(src='/'+recipe.image, alt= recipe.title)
                br
                h3
                  = recipe.title
          
    //
    #addRecipe.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addUserLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#addRecipeLabel.modal-title Add Recipe
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                .modal-body
                    form(method='POST', action='/recipes/add' enctype="multipart/form-data")
                        
                        #form-group
                            label Title:
                            input.form-control(name='title', type='text')
                        #form-group
                            label Decription:
                            input.form-control(name='description', type='text')
                        #form-group
                            label Time To Cook:
                            input.form-control(name='timetocook', type='text')
                        #form-group
                            label Dfficulty:
                            input.form-control(name='dfficulty', type='text')
                        #form-group
                            label Servings:
                            input.form-control(name='servings', type='text')
                        #form-group
                            label Image:
                            input.form-control(type='file', name='image')
                            br
                        input.btn.btn-primary(type='submit', value='Submit')
                        a.btn.btn-danger(href='/recipes') Cancel   