extends layout

block content
    section#categories
      .container
        .row
          .col-12
            h2 Categories
        .row.wow.zoomIn
          // Breakfast - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/milk.png', alt='milk', width='48', height='48')
              br
              |             Breakfast
          // Meat - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/steak.png', alt='meat', width='48', height='48')
              br
              |             Meat
          // Seafood - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/fish.png', alt='fish', width='48', height='48')
              br
              |             Sea food
          // Snacks- Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/peanuts.png', alt='peanuts', width='48', height='48')
              br
              |             Snacks
          // Spicy - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/chili.png', alt='chili', width='48', height='48')
              br
              |             Spicy
          // Vegetarian - Category Item
          .col-lg-2.col-md-3.col-sm-4.col-xs-6
            .category-item.text-center
              img(src='images/icons/vegan.png', alt='vegan', width='48', height='48')
              br
              |             Vegetarian
        .row.wow.zoomIn
          .col-12.text-center.show-all
            .category-item.text-center
              i.fa.fa-cutlery.fa-2x(aria-hidden='true')
              br
              |             Show All
    //
      Recipes Items
      ==================
    section#items
      .container
        .row
          .col-12
            h2 Recipes
        .row
          // First recipe item
          br
          each recipe, i in recipes
            .col-lg-4.col-md-6.col-sm-12.wow.fadeIn
              .recipe-item.text-center
                a(href='/recipes/'+recipe.id)
                  img(src='/'+recipe.image, alt='bbq-pork-ribs')
                br
                h3
                  = recipe.title
          
    //