extends layout

block content
  section#recipe
      .container
        .row
          // Title
          .col-12
            h2
              =recipe.title
        .row.vertical-align
          .col-12
            // Picture
            .col-md-8.pull-left.wow.swing
              img.recipe-picture(src='/'+recipe.image, alt='bbq-pork-ribs')
            // Info
            .col-md-4.pull-right.wow.lightSpeedIn
              .recipe-info
                h3 Info
                // Time
                .row
                  .col-2.text-center
                    i.fa.fa-clock-o(aria-hidden='true')
                  .col-6 Time
                  .col-4 
                    =recipe.timetocook
                // Difficulty
                .row
                  .col-2.text-center
                    i.fa.fa-area-chart(aria-hidden='true')
                  .col-6 Difficulty -
                    = recipe.dfficulty
                  .col-4
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                // Serves
                .row
                  .col-2.text-center
                    i.fa.fa-users(aria-hidden='true')
                  .col-6 Servings
                  .col-4 
                    =recipe.servings
        // Ingredients
        .row.wow.slideInUp
          .col-12
            .recipe-ingredients
              h3 Ingredients - 
                a(href='#addIngredients', data-toggle='modal', data-target='#addIngredients')|Add
              dl.ingredients-list
                each recipes, i in recipe.ingredients
                  dt 
                    = recipes.amount + recipes.measurements
                  dd 
                    = recipes.description
                    |       - 
                    a(href='#addIngredients', data-toggle='modal', data-target='#addIngredients')|   Edit
                    |       |
                    a(href='#addIngredients', data-toggle='modal', data-target='#addIngredients')|   Delete
                
        // Directions
        .row.wow.slideInUp
          .col-12
            .recipe-directions
              h3 Directions - 
                a(href='#addDirections', data-toggle='modal', data-target='#addDirections')|Add
              ol
                each recipes, i in recipe.directions
                  li 
                    = recipes.description
                    |       - 
                    a(href='#addIngredients', data-toggle='modal', data-target='#addIngredients')|   Edit
                    |       |
                    a(href='#addIngredients', data-toggle='modal', data-target='#addIngredients')|   Delete
                
        // Back to recipes
        .row.wow.rollIn
          .col-12.text-center
            a(href='/recipes')
              i.fa.fa-backward(aria-hidden='true')
              |             Go to back to recipes.
  #addIngredients.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addIngredientsLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#addIngredientsLabel.modal-title Add Ingredients
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form(method='POST', action='/recipes/ingredients/add/'+recipe.id)
                      #form-group
                          label Description:
                          input.form-control(name='description', type='text')
                      .form-row
                        #form-group.col-md-7
                          label Amount
                          input#inputCity.form-control(name='amount', type='text')
                        #form-group.col-md-4
                          label Measurements
                          select.form-control(name='measurements', type='text')
                            option(name='measurements', type='text' selected='') Choose...
                            option mg
                            option g
                            option kg
                            option ml
                            option l
                            option kl
                          br
                      input.btn.btn-primary(type='submit', value='Save')
                      a.btn.btn-danger(href='/recipes/'+recipe._id) Cancel  
  #addDirections.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addDirectionsLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#addDirectionsLabel.modal-title Add Directions
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/recipes/directions/add/'+recipe.id)
                    #form-group
                        label Description:
                        input.form-control(name='description', type='text')
                    
                        br
                    input.btn.btn-primary(type='submit', value='Submit')
                    a.btn.btn-danger(href='/recipes/'+recipe._id) Cancel                